body{
  background-image: linear-gradient(rgb(255, 253, 208),white);
  color: #111111;
}

.cards__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading{
  text-align: center;
}